/* Счетчик для первого уровня */
ol.level1 {
  counter-reset: section;
  list-style: none;
}

ol.level1 > li {
  counter-increment: section;
  position: relative;
  margin-bottom: 0.5em;
}

ol.level1 > li::before {
  content: counter(section) ". ";
  position: absolute;
  left: -2em; /* отступ для цифры */
}

/* Счетчик для второго уровня */
ol.level2 {
  counter-reset: subsection;
  list-style: none;
  margin-left: 2em;
}

ol.level2 > li {
  counter-increment: subsection;
  position: relative;
}

ol.level2 > li::before {
  content: counter(section) "." counter(subsection) " ";
  position: absolute;
  left: -2em;
}



