.wrapper{
    margin-right: 80px;
    margin-left: 80px;

}
.top_section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 64px;
    margin-bottom: 64px;
}

.top_section_title{
    font-size: 38px;
    margin: 16px;
}

.top_section_btn{
    border: none;
    color: #fff;
    width: 170px;
    height: 40px;
    padding: 1px;
    padding-right: 181.95px;
    padding-left: 181.94px;
    border-radius: 8px;
    outline: none;
    padding: 8px 12px;
    background: #9B1E1C;
    margin: 16px;
}

.top_section_btn_p{
    font-size: 16px;
}
