.wrapper {
    width: 1400px;
    margin: 0 auto;
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.logo {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 10vw;
}
.logo_img {
    width: 34px;
}
.logo_text {
    width: 95px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 450px;
    background: #fff;
    padding: 30px;
    color: #888;
    border-radius: 10px;
}
.form h3 {
    font-size: 38px;
    color: #000;
}
.form_input {
    width: 400px;
    border-radius: 10px;
    height: 36px;
    padding: 10px;
    background: #f1f0ee;
    border: none;
    outline: none;
}
.form_user {
    display: flex;
    justify-content: space-between;
}
.form_email {
    display: flex;
    flex-direction: column;
    gap: 10px;
}





















